* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("./burger_wp.jpg") no-repeat center center fixed;
    background-size: cover;
}

body,
#content {
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: 100%;
}

.nav_area {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    background: hsla(191, 100%, 6%, 0.322);
}

.nav_item {
    text-transform: uppercase;
    width: 100%;
    padding: 15px 30px;
}

.nav_item:hover {
    background: hsla(191, 100%, 36%, 0.322);
}

.nav_link {
    text-decoration: none;
    color: hsla(46, 42%, 88%, 0.467);
}

.nav_link.current {
    color: hsla(50, 16%, 93%, 0.867);
}
